USE [master]
GO
/****** Object:  Database [BDJDBEBIDAS]    Script Date: 14/12/2022 09:26:13 ******/
CREATE DATABASE [BDJDBEBIDAS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BDJDBEBIDAS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SENAI\MSSQL\DATA\BDJDBEBIDAS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BDJDBEBIDAS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SENAI\MSSQL\DATA\BDJDBEBIDAS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BDJDBEBIDAS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BDJDBEBIDAS]
GO
/****** Object:  Table [dbo].[PRODUTO]    Script Date: 14/12/2022 09:26:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUTO](
	[PROID] [int] IDENTITY(1,1) NOT NULL,
	[PRODESCRICAO] [varchar](100) NOT NULL,
	[CATID] [int] NOT NULL,
	[PROIMAGEM] [varbinary](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[PROID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPO]    Script Date: 14/12/2022 09:26:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPO](
	[TIPID] [int] IDENTITY(1,1) NOT NULL,
	[TIPNOME] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TIPID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROTIPO]    Script Date: 14/12/2022 09:26:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROTIPO](
	[PTID] [int] IDENTITY(1,1) NOT NULL,
	[PROID] [int] NOT NULL,
	[TIPID] [int] NOT NULL,
	[PTMINIMO] [int] NOT NULL,
	[PTMAXIMO] [int] NOT NULL,
	[PTESTOQUE] [int] NOT NULL,
	[PTIMAGEM] [varbinary](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[PTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SAIDA]    Script Date: 14/12/2022 09:26:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SAIDA](
	[SAIID] [int] IDENTITY(1,1) NOT NULL,
	[SAIDATA] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[SAIID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ITENSSAIDA]    Script Date: 14/12/2022 09:26:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ITENSSAIDA](
	[ITSID] [int] IDENTITY(1,1) NOT NULL,
	[PTID] [int] NOT NULL,
	[ITSQUANTIDADE] [int] NOT NULL,
	[ITSPRECO] [numeric](18, 2) NOT NULL,
	[ITSTOTAL]  AS ([ITSQUANTIDADE]*[ITSPRECO]),
	[SAIID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ITSID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[RELATORIODEVENDA]    Script Date: 14/12/2022 09:26:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[RELATORIODEVENDA]
as
select i.ITSID 'Codigo de venda',
       s.SAIDATA 'Data da venda',
       pro.PRODESCRICAO 'Nome do produto',
        t.TIPNOME 'Tipo',
       i.ITSQUANTIDADE 'Quantidade vendida',
        i.ITSPRECO 'Preço unitário',
        i.ITSTOTAL 'Valor total'
        
FROM  ITENSSAIDA i
JOIN SAIDA s ON i.SAIID = s.SAIID
JOIN PROTIPO pt ON i.PTID = pt.PTID
JOIN PRODUTO pro ON pt.PROID = pro.PROID
JOIN TIPO t ON pt.TIPID = t.TIPID
GO
/****** Object:  Table [dbo].[ENTRADA]    Script Date: 14/12/2022 09:26:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ENTRADA](
	[ENTID] [int] IDENTITY(1,1) NOT NULL,
	[ENTDATA] [datetime] NOT NULL,
	[ENTORIGEM] [varchar](100) NULL,
	[ENTOBSERVACAO] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[ENTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ITENSENTRADA]    Script Date: 14/12/2022 09:26:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ITENSENTRADA](
	[ITEID] [int] IDENTITY(1,1) NOT NULL,
	[PTID] [int] NOT NULL,
	[ITEQUANTIDADE] [int] NOT NULL,
	[ITEPRECO] [numeric](18, 2) NOT NULL,
	[ENTID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ITEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[RELATORIODEREPOSICAO]    Script Date: 14/12/2022 09:26:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[RELATORIODEREPOSICAO]
as
select ite.ITEID 'Codigo de reposição',
        ent.ENTDATA 'Data de reposição',
        pro.PRODESCRICAO 'Nome do produto',
        t.TIPNOME 'Tipo',
          ite.ITEQUANTIDADE 'Quantidade reposta',
        ite.ITEPRECO 'Preço unitário',
        ite.ITETOTAL 'Valor total'
      
        
FROM  ITENSENTRADA ite
JOIN ENTRADA ENT ON ite.ENTID = ent.ENTID
JOIN PROTIPO pt ON ite.PTID = pt.PTID
JOIN PRODUTO pro ON pt.PROID = pro.PROID
JOIN TIPO t ON pt.TIPID = t.TIPID
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 14/12/2022 09:26:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 14/12/2022 09:26:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 14/12/2022 09:26:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 14/12/2022 09:26:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 14/12/2022 09:26:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 14/12/2022 09:26:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 14/12/2022 09:26:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](450) NOT NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 14/12/2022 09:26:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](128) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CATEGORIA]    Script Date: 14/12/2022 09:26:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORIA](
	[CATID] [int] IDENTITY(1,1) NOT NULL,
	[CATDESCRICAO] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CATID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'00000000000000_CreateIdentitySchema', N'6.0.10')
INSERT [dbo].[AspNetUsers] ([Id], [UserName], [NormalizedUserName], [Email], [NormalizedEmail], [EmailConfirmed], [PasswordHash], [SecurityStamp], [ConcurrencyStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEnd], [LockoutEnabled], [AccessFailedCount]) VALUES (N'05bf01ef-c401-451b-9223-af64c4506dc5', N'jdb@gmail.com', N'JDB@GMAIL.COM', N'jdb@gmail.com', N'JDB@GMAIL.COM', 1, N'AQAAAAEAACcQAAAAEHImPeciQZH4Je8/RdOb3Yt60+WrNpjsGpwwaYcmp98zmHX6zkH11rF5y/mXvVuWDw==', N'THDULNB2JLHIJ6Z6A2EUK6ZZXJ3JAAXS', N'e1590e48-1071-4dbb-879c-002f9c06ae05', NULL, 0, 0, NULL, 1, 0)
SET IDENTITY_INSERT [dbo].[CATEGORIA] ON 

INSERT [dbo].[CATEGORIA] ([CATID], [CATDESCRICAO]) VALUES (7, N'água')
INSERT [dbo].[CATEGORIA] ([CATID], [CATDESCRICAO]) VALUES (5, N'cerveja')
INSERT [dbo].[CATEGORIA] ([CATID], [CATDESCRICAO]) VALUES (6, N'refrigerante')
SET IDENTITY_INSERT [dbo].[CATEGORIA] OFF
SET IDENTITY_INSERT [dbo].[ENTRADA] ON 

INSERT [dbo].[ENTRADA] ([ENTID], [ENTDATA], [ENTORIGEM], [ENTOBSERVACAO]) VALUES (1, CAST(N'2022-11-17T00:00:00.000' AS DateTime), N'Ambev', N'Varias latas')
INSERT [dbo].[ENTRADA] ([ENTID], [ENTDATA], [ENTORIGEM], [ENTOBSERVACAO]) VALUES (2, CAST(N'2022-11-25T00:00:00.000' AS DateTime), N'Cola-Cola', N'Garrafas de 1L de coca-cola')
INSERT [dbo].[ENTRADA] ([ENTID], [ENTDATA], [ENTORIGEM], [ENTOBSERVACAO]) VALUES (3, CAST(N'2022-11-30T00:00:00.000' AS DateTime), N'Marata', N'Suco de uva')
SET IDENTITY_INSERT [dbo].[ENTRADA] OFF
SET IDENTITY_INSERT [dbo].[PRODUTO] ON 

SET IDENTITY_INSERT [dbo].[PRODUTO] OFF
SET IDENTITY_INSERT [dbo].[PROTIPO] ON 

SET IDENTITY_INSERT [dbo].[PROTIPO] OFF
SET IDENTITY_INSERT [dbo].[SAIDA] ON 

INSERT [dbo].[SAIDA] ([SAIID], [SAIDATA]) VALUES (2, CAST(N'2022-12-18T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[SAIDA] OFF
SET IDENTITY_INSERT [dbo].[TIPO] ON 

INSERT [dbo].[TIPO] ([TIPID], [TIPNOME]) VALUES (1, N'1L')
INSERT [dbo].[TIPO] ([TIPID], [TIPNOME]) VALUES (2, N'2L')
INSERT [dbo].[TIPO] ([TIPID], [TIPNOME]) VALUES (4, N'500ml')
SET IDENTITY_INSERT [dbo].[TIPO] OFF
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetRoleClaims_RoleId]    Script Date: 14/12/2022 09:26:13 ******/
CREATE NONCLUSTERED INDEX [IX_AspNetRoleClaims_RoleId] ON [dbo].[AspNetRoleClaims]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 14/12/2022 09:26:13 ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[NormalizedName] ASC
)
WHERE ([NormalizedName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserClaims_UserId]    Script Date: 14/12/2022 09:26:13 ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserClaims_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserLogins_UserId]    Script Date: 14/12/2022 09:26:13 ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserLogins_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserRoles_RoleId]    Script Date: 14/12/2022 09:26:13 ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserRoles_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [EmailIndex]    Script Date: 14/12/2022 09:26:13 ******/
CREATE NONCLUSTERED INDEX [EmailIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 14/12/2022 09:26:13 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedUserName] ASC
)
WHERE ([NormalizedUserName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__CATEGORI__145C36604E546D00]    Script Date: 14/12/2022 09:26:13 ******/
ALTER TABLE [dbo].[CATEGORIA] ADD UNIQUE NONCLUSTERED 
(
	[CATDESCRICAO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__TIPO__1C6C5E74215D533A]    Script Date: 14/12/2022 09:26:13 ******/
ALTER TABLE [dbo].[TIPO] ADD UNIQUE NONCLUSTERED 
(
	[TIPNOME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ENTRADA] ADD  DEFAULT (getdate()) FOR [ENTDATA]
GO
ALTER TABLE [dbo].[PROTIPO] ADD  DEFAULT ((0)) FOR [PTMINIMO]
GO
ALTER TABLE [dbo].[PROTIPO] ADD  DEFAULT ((0)) FOR [PTMAXIMO]
GO
ALTER TABLE [dbo].[PROTIPO] ADD  DEFAULT ((0)) FOR [PTESTOQUE]
GO
ALTER TABLE [dbo].[SAIDA] ADD  DEFAULT (getdate()) FOR [SAIDATA]
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[ITENSENTRADA]  WITH CHECK ADD FOREIGN KEY([ENTID])
REFERENCES [dbo].[ENTRADA] ([ENTID])
GO
ALTER TABLE [dbo].[ITENSENTRADA]  WITH CHECK ADD FOREIGN KEY([PTID])
REFERENCES [dbo].[PROTIPO] ([PTID])
GO
ALTER TABLE [dbo].[ITENSSAIDA]  WITH CHECK ADD FOREIGN KEY([SAIID])
REFERENCES [dbo].[SAIDA] ([SAIID])
GO
ALTER TABLE [dbo].[ITENSSAIDA]  WITH CHECK ADD FOREIGN KEY([PTID])
REFERENCES [dbo].[PROTIPO] ([PTID])
GO
ALTER TABLE [dbo].[PRODUTO]  WITH CHECK ADD FOREIGN KEY([CATID])
REFERENCES [dbo].[CATEGORIA] ([CATID])
GO
ALTER TABLE [dbo].[PROTIPO]  WITH CHECK ADD FOREIGN KEY([PROID])
REFERENCES [dbo].[PRODUTO] ([PROID])
GO
ALTER TABLE [dbo].[PROTIPO]  WITH CHECK ADD FOREIGN KEY([TIPID])
REFERENCES [dbo].[TIPO] ([TIPID])
GO
ALTER TABLE [dbo].[ITENSENTRADA]  WITH CHECK ADD CHECK  (([ITEPRECO]>(0)))
GO
ALTER TABLE [dbo].[ITENSENTRADA]  WITH CHECK ADD CHECK  (([ITEQUANTIDADE]>(0)))
GO
ALTER TABLE [dbo].[ITENSSAIDA]  WITH CHECK ADD CHECK  (([ITSPRECO]>(0)))
GO
ALTER TABLE [dbo].[ITENSSAIDA]  WITH CHECK ADD CHECK  (([ITSQUANTIDADE]>(0)))
GO
ALTER TABLE [dbo].[PROTIPO]  WITH CHECK ADD CHECK  (([PTESTOQUE]>=(0)))
GO
ALTER TABLE [dbo].[PROTIPO]  WITH CHECK ADD CHECK  (([PTMAXIMO]>=(0)))
GO
ALTER TABLE [dbo].[PROTIPO]  WITH CHECK ADD CHECK  (([PTMINIMO]>=(0)))
GO
USE [master]
GO
